(constants) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1
	}
	encode gzip
}

(apiauth) {
	@unauthorized {
		not {
			header Authorization {env.API_KEY}
		}
	}

	respond @unauthorized "Unauthorized" 401 {
		close
	}
}

{
	admin off
}

zachklingbeil.com {
	import constants
	redir https://github.com/zachklingbeil
}

db.zachklingbeil.com {
	import constants
	reverse_proxy pgadmin:80
}

docker.timefactory.io {
	import constants
	reverse_proxy /v2/* registry:5000
}

api.timefactory.io {
	import constants

	handle /geth/* {
		uri strip_prefix /geth
		reverse_proxy geth:8545
	}
}

block.timefactory.io {
	import constants
	reverse_proxy host.docker.internal:8079
}
