services:
    actions:
        image: myoung34/github-runner
        container_name: actions
        environment:
            ORG_URL: https://github.com/timefactoryio
            ORG_NAME: timefactoryio
            RUNNER_NAME: actions_timefactory
            RUNNER_TOKEN: ${ORG_RUNNER_TOKEN}
            RUNNER_WORKDIR: /runner/tmp/runner/work
            CONFIGURED_ACTIONS_RUNNER_FILES_DIR: /runner
            RUNNER_SCOPE: org
            LABELS: linux,x64,gpu
            DISABLE_AUTOMATIC_DEREGISTRATION: true
        volumes:
            - actions:/runner
            - /var/run/docker.sock:/var/run/docker.sock
        restart: always
        pull_policy: always
        networks:
            - timefactory
volumes:
    actions:
        external: true

networks:
    timefactory:
        external: true
