services:
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4
    container_name: tinyauth
    restart: unless-stopped
    pull_policy: always
    volumes:
      - tinyauth:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - SECRET=${SECRET}
      # echo $(htpasswd -nB zk) | sed -e s/\\$/\\$\\$/g
      - USERS=${USERS}
      - APP_URL=https://auth.timefactory.io
      - PROVIDERS_POCKETID_CLIENT_ID=${POCKET_ID_CLIENT_ID}
      - PROVIDERS_POCKETID_CLIENT_SECRET=${POCKET_ID_CLIENT_SECRET}
      - PROVIDERS_POCKETID_AUTH_URL=https://id.timefactory.io/authorize
      - PROVIDERS_POCKETID_TOKEN_URL=https://id.timefactory.io/api/oidc/token
      - PROVIDERS_POCKETID_USER_INFO_URL=https://id.timefactory.io/api/oidc/userinfo
      - PROVIDERS_POCKETID_SCOPES=openid email profile groups
      - PROVIDERS_POCKETID_NAME=Pocket ID
      - OAUTH_AUTO_REDIRECT=pocketid
    labels:
      - traefik.enable=true
      - traefik.http.routers.tinyauth.tls=true
      - traefik.http.routers.tinyauth.entrypoints=websecure
      - traefik.http.routers.tinyauth.tls.certresolver=cloudflare
      - traefik.http.routers.tinyauth.rule=Host(`auth.timefactory.io`)
      - traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik
      - traefik.http.services.tinyauth.loadbalancer.server.port=3000
    networks:
      - timefactory

networks:
  timefactory:
    external: true
volumes:
  tinyauth:
    external: true
